html{
    font-family: system-ui;
    text-align: center;
}

.box{
    font-size: 30px;
    color: whitesmoke;
    display: inline-block;
    border: 7px solid #606060;
    border-radius: 30px;
    padding: 1px 150px 1px 10px;
}

body {
    background: #F5F5DC;
    min-height: 20em;
  }

h1{
    font-size: 60px;
    color: #606060;
}

ul{
    list-style-type: none;
    text-align: left;
}

li{
    margin-bottom: 5px;
}

.auteur{
    color: grey;
    position: fixed;
    bottom: 10px;
    right: 10px;
}