html {
    text-align: center;
}

h1 {
    font-size: 40px;
}

body {
    margin-left: 2em;
    margin-right: 2em;
    min-height: 20em;
}



#valider{
    background-color: rgb(234, 64, 30);
    color: whitesmoke;
    border-radius: 10%;
}

.validation{
    background-color: goldenrod;
    font-size: 20px;
    color: rgb(234, 64, 30);
    border: 0.2em solid black;
    width: 20em;
    height: 5em;
}


.disponible{
    background-color: goldenrod;
    font-size: 20px;
    border: 0.2em solid black;
    width: 20em;
    height: 5em;
    text-align: center;
    padding-bottom: 10px;
}

img {
    width : 450px;
    height : 600px;
    }
.all{
    display: flex;
    justify-content: space-between;
}

.left, .center, .right {
    flex-basis: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box; 
}

.right .attaque img,
.right .milieu img,
.right .defense img,
.right .gardien img {
    width: 30px; /* Largeur réduite */
    height: 30px; /* Hauteur réduite */
}

/* Positionnement des croix */

.right .attaque .attaque1 img {
    position: absolute;
    top: 35%;
    left: 74%;
}

.right .attaque .attaque2 img {
    position: absolute;
    top: 35%;
    left: 81%;
}

.right .attaque .attaque3 img {
    position: absolute;
    top: 35%;
    left: 88%;
}

.right .milieu .milieu1 img {
    position: absolute;
    top: 55%;
    left: 74%;
}

.right .milieu .milieu2 img {
    position: absolute;
    top: 55%;
    left: 81%;
}

.right .milieu .milieu3 img {
    position: absolute;
    top: 55%;
    left: 88%;
}

.right .defense .defense1 img {
    position: absolute;
    top: 76%;
    left: 72%;
}

.right .defense .defense2 img {
    position: absolute;
    top: 76%;
    left: 78%;
}

.right .defense .defense3 img {
    position: absolute;
    top: 76%;
    left: 84%;
}

.right .defense .defense4 img {
    position: absolute;
    top: 76%;
    left: 90%;
}

.right .gardien img {
    position: absolute;
    top: 89%;
    left: 81%;
}


#joueursDisponibles img {
    width: 85px;
    height: 100px;
    margin-right: 10px;
    margin-top: 5px;
    overflow: scroll;
}

#joueusesDisponibles img {
    width: 85px;
    height: 100px;
    margin-right: 10px;
    margin-top: 5px;
    overflow: scroll;
}