html {
    text-align: center;
}

h1 {
    font-size: 3vw;
}

body {
    margin-left: 2vw;
    margin-right: 2vw;
    min-height: 20em;
}



#valider{
    background-color: rgb(234, 64, 30);
    color: whitesmoke;
    border-radius: 0,2em;
}

.validation{
    background-color: goldenrod;
    font-size: 1.5vw;
    color: rgb(234, 64, 30);
    border: 0.2em solid black;
    width: 25vw;
    height: 15vh;
}


.disponible{
    background-color: goldenrod;
    font-size: 1.4vw;
    border: 0.2vw solid black;
    width: 25vw;
    height: 15vh;
    text-align: center;
}

img {
    width : 30vw;
    height: 87vh; /*à verif sur autre navigateur*/
    }

.all{
    display: flex;
    justify-content: space-between;
}

.left, .center, .right {
    max-width: 33.33vw;
    box-sizing: border-box; 
}

#croix{
    width: 2vw; /* Largeur réduite */
    height: 4vh; /* Hauteur réduite */
}

/* Positionnement des croix */

.right .attaque .attaque1 img {
    position: absolute;
    top: 37vh;
    left: 73vw;
}

.right .attaque .attaque2 img {
    position: absolute;
    top: 37vh;
    left: 81vw;
}

.right .attaque .attaque3 img {
    position: absolute;
    top: 37vh;
    left: 89vw;
}

.right .milieu .milieu1 img {
    position: absolute;
    top: 57vh;
    left: 73vw;
}

.right .milieu .milieu2 img {
    position: absolute;
    top: 57vh;
    left: 81vw;
}

.right .milieu .milieu3 img {
    position: absolute;
    top: 57vh;
    left: 89vw;
}

.right .defense .defense1 img {
    position: absolute;
    top: 79vh;
    left: 72vw;
}

.right .defense .defense2 img {
    position: absolute;
    top: 79vh;
    left: 78vw;
}

.right .defense .defense3 img {
    position: absolute;
    top: 79vh;
    left: 84vw;
}

.right .defense .defense4 img {
    position: absolute;
    top: 79vh;
    left: 90vw;
}

.right .gardien img {
    position: absolute;
    top: 97vh;
    left: 81vw;
}

#joueursDisponibles{
    overflow-y: scroll;
}

#joueusesDisponibles{
    overflow-y : scroll; 
}

#joueursDisponibles img {
    width: 5vw;
    height: 15vh;
    margin-right: 0.5vw;
    margin-top: 2vh;
    cursor: pointer;
}

#joueusesDisponibles img {
    width: 5vw;
    height: 15vh;
    margin-right: 0.5vw;
    margin-top: 2vh;
    cursor: pointer;
}


img[data-alt="deplacer"] {
    z-index: 9999; /* Met en premier plan */
    width: 5vw;
    height: 15vh;
}

